<a href="https://colab.research.google.com/github/wetyu-61/computational-thinking/blob/master/%E7%AC%AC10%E7%B5%84_week6ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
t1 = int(input('請輸入第一次期中考成績?'))
t2 = int(input('請輸入第二次期中考成績?'))
t3 = int(input('請輸入期末考成績?'))
總分 = (t1 + t2 + t3)
print('總分', 總分)
平均 = (t1 + t2 + t3)/3
print('平均', 平均)

請輸入第一次期中考成績?75
請輸入第二次期中考成績?80
請輸入期末考成績?65
總分 220
平均 73.33333333333333

In [0]:
a =int(input('請輸入幾尺?'))
b =int(input('請輸入幾吋?'))
cm =(a*12+b)*2.54
print('轉換成', cm)

請輸入幾尺?5
請輸入幾吋?8
轉換成 172.72

In [0]:
a =int(input('請輸入座號?'))
b=int(input('請輸入幾人一組?'))
組別=a%b
print('組別', 組別)

請輸入座號?19
請輸入幾人一組?5
組別 4

In [0]:
a=30/12
b=20*30
c=((30-30%12)/12*200)+((30%12)*20)
print(a)
print(b)
print(c)

2.5
600
520.0

In [0]:
KB=2**10 
MB=2**20
GB=2**30
TB=2**40
PB=2**50
EB=2**60
ZB=2**70
YB=2**80
print(KB)
print(MB)
print(GB)
print(TB)
print(PB)
print(EB)
print(ZB)
print(YB)

1024
1048576
1073741824
1099511627776
1125899906842624
1152921504606846976
1180591620717411303424
1208925819614629174706176